
.jumbotron {
    background-image: url("../img/pizza.png");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

}

.jumbotron-fluid {

}

.container-fluid {

}

.container {
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto;
    padding: 0;
}

h1 {

}
.display-4{
    text-align: center;
    background-color:#c2c2c2;
    opacity: .70;
    width: 100%;
}

nav a {
    color: #A4A4A4;
}

i {
    color: #a4a4a4;
}
a:hover {
    background-color: #E7E7E7;
    color: #a4a4a4;
}

.btn {
    border: #E7E7E7 .1em solid;
    background-color: white;
}

