:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}

.media {
    /*width: 100%;*/
    background-color: var(--light-bg);
    border-bottom: 1px solid;
    border-bottom-color: #DDD;
    /*padding: .5em;*/
    /*overflow: auto;*/
    display: flex;
    /*align-items: center;*/
    /*flex-direction:column;*/
    align-items: center;
    flex-wrap: nowrap;

}

.media-image {
    max-width: 50px;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.media-body {
    display: flex;
    width: 100%;
    align-content: flex-end;
    flex-direction: column;
    justify-items: flex-start;

}

.container {
    margin-top: 2em;
    display: flex;
    /*align-items:stretch;*/
}

.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1000;
    /*display: flex;*/
    /*justify-items: flex-start;*/
    /*flex-basis: border-box;*/
}


.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.nav-item {
    /*display: inline-block;*/
    padding: 1.5em;
   /* display: flex;*/
   /*align-content: center;*/
}

.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--link-color);
}

.profile-image {
    top: 250px;
    float: left;
    position: absolute;
}

.profile-form {
    line-height: 80px;
    /*float: right;*/
    display: flex;
    justify-content: flex-end;
}

.profile-entry {
    margin: .5em;
}

.profile {
    background: var(--light-bg);
    height: 80px;
    display: flex;
    align-content: space-evenly;
    /*justify-items: space-between;*/
}

.profile-items {
    list-style-type: none;
    padding: 0;
}

.profile-details {
    margin: 0.5em;
    width: calc(25% - 1em);
    float: left;
}

.timeline {
    margin: 0 .5em;
    width: calc(50% - 1em);
    /*float: left;*/
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.who-to-follow {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;


}

.btn-large {
    font-size: 1.3em;
    padding: 10px;
    /*display: flex;*/
    /*!*justify-content: flex-start;*!*/
    /*align-content: flex-end;*/
}

.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}

.text-right {
    text-align: right;
}

.text-muted {
    color: var(--main-link-color);
}